@using amlWeb.Models.Role
@model List<RoleClassLib>

<html>
<head>
    <meta name="viewport" content="width-device-width"/>
    <title>Roles List</title>
</head>
<body>

@{
    foreach (var role in Model)
    {
        <summary>Name:@role.name {ver=@role.version}</summary>
        <ul>
            @{
                foreach (var rc in role.rolesList)
                {
                    <li>
                        RC: @rc.name
                        @if (rc.attributes.Count > 0)
                        {
                            <p>Attributes:</p>
                            
                            foreach (var attrs in rc.attributes)
                            {
                                <ul>
                                    @if (attrs.name != null)
                                    {
                                        <li>
                                            Name:@attrs.name
                                        </li>
                                    }
                                    @if (attrs.value != null)
                                    {
                                    <li>
                                        Value:@attrs.value
                                    </li>
                                    }
                                </ul>
                            }
                        }
                    </li>
                }
            }
        </ul>
    }
}
</body>
</html>